
<app-home></app-home>

<div>
  <h1 class="text-center">Listado de incidentes</h1>
  <img (click)="regIncidente()" src="../../../assets/images/add_report.png" alt="" style="cursor: pointer; max-width: 50px; float: right; margin: 1%;">
</div>

<div style="width: 100%; overflow-x: auto; margin: 1%;">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="incidentes"
    [showBorders]="true"
    class="dx-datagrid dx-datagrid-headers dx-datagrid-rows"
    [width]="'97%'"
    [columnAutoWidth]="true"
  >
  <dxi-column dataField="Región" caption="Región" [width]="100"></dxi-column>
  <dxi-column dataField="Inmueble" caption="Inmueble" [width]="200"></dxi-column>
  <dxi-column dataField="Tipo_alarma" caption="Tipo_alarma" [width]="200"></dxi-column>
  <dxi-column dataField="Partición" caption="Partición" [width]="200"></dxi-column>
  <dxi-column dataField="Zona" caption="Zona" [width]="200"></dxi-column>
  <dxi-column dataField="Hora" caption="Hora" [width]="200"></dxi-column>
  <dxi-column dataField="Atiende_CRM_CMC" caption="Atiende_CRM_CMC" [width]="200"></dxi-column>
  <dxi-column dataField="Motivo" caption="Motivo" [width]="200"></dxi-column>
  <dxi-column dataField="Quien_reporta" caption="Quien_reporta" [width]="200"></dxi-column>
  <dxi-column dataField="Registro_de_evento" caption="Registro_de_evento" [width]="200"></dxi-column>
  <dxi-column dataField="Causa" caption="Causa" [width]="200"></dxi-column>
  <dxi-column dataField="Activación_de_alarma" caption="Activación_de_alarma" [width]="200"></dxi-column>
  <dxi-column dataField="Acción" caption="Acción" [width]="200"></dxi-column>
  <dxi-column dataField="Estatus" caption="Estatus" [width]="200"></dxi-column>
  <dxi-column dataField="Agregar_comentario" caption="Agregar_comentario" [width]="200"></dxi-column>
  <dxi-column dataField="Ver_detalle" caption="Ver_detalle" [width]="200"></dxi-column>
  <dxi-column dataField="Actualizar" caption="Actualizar" [width]="200"></dxi-column>
  </dx-data-grid>
</div>



