
<app-home></app-home>

<div class="d-flex">
  <h1 class="text-center">Listado de incidentes</h1>

  <button (click)="regIncidente()" type="button" class="btn mx-auto text-center" style=" background-color: #1F3D7C; color: white;" >
      <span class="material-symbols-outlined">
        add
      </span>
      Agregar nuevo incidente
   </button>

</div>


<dx-data-grid
  [dataSource]="data"
  [showBorders]="true"
  keyExpr="ID"
  style="width: 97%; margin: 1%;"

>
  <dxo-paging [enabled]="true"></dxo-paging>
  <dxo-editing
    mode="row"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [useIcons]="true"
  ></dxo-editing>
  <dxi-column dataField="Region" caption="Región" [width]="180"></dxi-column>
  <dxi-column dataField="Inmueble" caption="Inmueble" [width]="180"></dxi-column>
  <dxi-column dataField="Hora" caption="Hora" [width]="120"></dxi-column>
  <dxi-column dataField="Motivo" caption="Motivo" [width]="180"></dxi-column>
  <dxi-column dataField="QuienReporta" caption="Quien reporta" [width]="180"></dxi-column>
  <dxi-column dataField="Estatus" caption="Estatus" [width]="130"></dxi-column>
  <dxi-column dataField="Acciones" type="buttons" [width]="250">
    <dxi-button
      hint="Agregar Comentario"
      icon="comment"
      [onClick]="agregarComentario"
      title="Agregar comentario"
    ></dxi-button>

    <dxi-button
      hint="Ver Detalle"
      icon="activefolder"
      [onClick]="verDetalle"
      title="Ver detalle"
    ></dxi-button>

    <dxi-button
      hint="Actualizar"
      icon="refresh"
      [onClick]="actualizar"
      title="Actualizar"
    ></dxi-button>

  </dxi-column>
</dx-data-grid>



