<div class="main_header d-flex">
    <img class="main_logo" src="../../assets/images/telcel_logo.png" alt="" style="max-width: 145px;"> 
    <img class="" src="" alt="">

    <h3 style="color: white; font-size: 0.8rem; margin: 1%;">Atención Alarmas Sigea</h3>
    <span (click)="sidebarVisible = true"
    class="material-symbols-outlined icon" style="color: white; padding: 1.5%; cursor: pointer;">
    account_circle
</span>

    <p-sidebar  [(visible)]="sidebarVisible" position="right" styleClass="custom-sidebar">
        <a href="">Cerrar sesión</a>
    </p-sidebar>
</div>