
    <app-header></app-header>
    <div class="card">
        <p-tabMenu class="home_menu" [model]="items"></p-tabMenu>
    </div>

    <!-- <div>
        <div class="user_logged">
            <h1 style="font-size: 2rem; margin: 2%; font-weight: bold;">Monitorista</h1>
        </div>
        
            <div class="home_main_container">
        
                <div class="home_cards" [routerLink]="['/calendario']">
                    <a class="calendar_card_container" style="text-decoration: none;">
                        <span class="home_icons material-symbols-outlined">
                            calendar_today
                        </span>
                        <h3 class="title_cards">Calendario</h3> 
                        <h6>(Listado de visitas y control de accesos)</h6>                
                    </a>
                </div>
        
                <div class="home_cards">
                    <a  class="logbook_card_container" style="text-decoration: none;">
        
                        
                        <span class="home_icons material-symbols-outlined">
                            tv_options_edit_channels
                        </span>
                        <h3 class="title_cards">Registro bitácora</h3> 
                        <h6>(Tareas y evidencias)</h6>
                    </a>
                </div>
        
                
                <div class="home_cards">
                    <a  class="incident_card_container" style="text-decoration: none;">
                        
                        <span class="home_icons material-symbols-outlined">
                            breaking_news_alt_1
                        </span>
                        <h3 class="title_cards">Incidentes</h3> 
                        <h6>(Reporte y seguimiento)</h6>                
                        
                    </a>
                </div>
        
        
                <div class="home_cards">
                    <a  class="highRiskTasks_card_container" style="text-decoration: none;">
        
                        
                        <span class="home_icons material-symbols-outlined">
                            warning
                        </span>
                        <h3 class="title_cards">Registro tareas de alto riesgo</h3> 
                
                    </a>
                </div>
        
            </div>
    </div>  -->



