<app-home></app-home>

<div>
  <h1 class="text-center">Listado bitácora de novedades</h1>
  <img
    (click)="regNovedad()"
    src="../../../assets/images/add_report.png"
    alt=""
    style="cursor: pointer; max-width: 50px; float: right; margin: 1%"
  />
</div>

<div style="width: 100%; overflow-x: auto; margin: 1%">
  <dx-data-grid [dataSource]="bitacoraItems" [showBorders]="true">
    <dxo-paging [pageSize]="pageSize"></dxo-paging>
    <dxi-column dataField="Fecha" caption="Fecha"></dxi-column>
    <dxi-column dataField="Titulo" caption="Titulo"></dxi-column>
    <dxi-column
      dataField="DetalleImagen.imagenes[0].url"
      caption="DetalleImagen"
      [cellTemplate]="imagenTemplate"
    ></dxi-column>
    
  </dx-data-grid>

</div>
