    .main_title_login
    {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        /* color: rgb(48, 19, 144); */
    }

    .main_logo {
        width: 50%;
   } 


    .container_main_login {
        box-shadow: 3px 3px 5px;
        border-radius: 5%;
        border-style: solid;
        border-width: 1px;
        border-color: #89b0d4;

        height: 55%;        

        position: absolute;
        left: 0%;
        transform: translateX(-50%);
        top: 45%;
        transform: translateY(-50%);
        margin:3%;
    }

    .btn_fixed_footer{
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
    }

    .txtlegales{
        position: absolute; 
        font-size: 0.6rem; 
        bottom: 10px; 
        left: 0; 
        right: 0;
    }


    /* Tablet */
    @media (min-width: 480px) {

        .container_main_login{
            position: absolute;
            width: 80%;
            height: 58%;
            left: 5%;
            transform: translateX(-50%);
            top: 40%;
            transform: translateY(-50%);
            margin:3%;
        }

        .btn_fixed_footer{
            position: absolute;
            bottom: 50px;
            left: 0;
            right: 0;
        }

        .txtlegales{
            position: absolute; 
            font-size: 0.6rem; 
            bottom: 10px; 
            left: 0; 
            right: 0;
        }

    }

    /* Laptop */
    @media (min-width: 720px) {

        .main_title_login{
            font-size: 0.8rem;
            margin-top:20px !important;
        }

        .main_logo {
            width: 45%;
        }

        #user{
            width: 60%;
        }
        #pass{
            width: 60%;
        }

        .container_main_login{
            position: absolute;
            height: 60%;
            left: 10%;
            transform: translateX(-50%);
            top: 40%;
            transform: translateY(-50%);
            margin:3%;
        }

        .btn_fixed_footer{
            position: absolute;
            bottom: 40px;
            left: 0;
            right: 0;
        }

        .txtlegales{
            position: absolute; 
            font-size: 0.6rem; 
            bottom: 10px; 
            left: 0; 
            right: 0;
        }

    }

    /* Laptops */
    @media (min-width: 1024px) {

        .main_title_login{
            font-size: 0.8rem;
        }

        .main_logo {
            width: 50%;
            margin-top: -20px !important;
        }

        .container_main_login{
            position: absolute;
            width: 45%;
            height: 75%;
            left: 23%;
            transform: translateX(-50%);
            top: 40%;
            transform: translateY(-50%);            
        }

        .btn_fixed_footer{
            position: absolute;
            bottom: 100px;
            left: 0;
            right: 0;
        }

        .txtlegales{
            position: absolute; 
            font-size: 0.7rem; 
            bottom: 40px; 
            left: 0; 
            right: 0;
        }
    }
